@page

@model MoneyPlus.Pages.Reports.CompleteReport

@{
	ViewData["Title"] = "Expenses by year";
}

<h1>Complete Report</h1>

<h5>Year: @Html.DisplayFor(model => model.CurrentYear)</h5>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayFor(model => model.CurrentYear)</th>

			@foreach(var item in Model.months)
		{
			<th>
					@Html.DisplayFor(modelItem => item.Value)
			</th>
		}
		<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>



		@foreach (var item in Model.catsAndSubcats)
		{
			double totalSum = 0;
				
			<tr style="font-weight:@(item.Key==0 ? "bold" : "" )">

				<td>
					@Html.DisplayFor(modelItem => item.Value)
				</td>

				@foreach (var item2 in Model.months)
				{
					double sum = 0;
					<td>
						@foreach (var item3 in Model.completeReport)
						{
							@if (item.Key == 0) // 0 -- categories | 1 -- subCategories 
							{
								@if (item3.Category == item.Value && int.Parse(item3.Month) == item2.Key) { // se for categoria soma o valor das subCategorias
									sum += item3.Amount;
								} 
							}
							else if (item.Key == 1)
							{
								@if (item3.SubCategory == item.Value && int.Parse(item3.Month) == item2.Key)
								{ // se for categoria soma o valor das subCategorias
									@Html.DisplayFor(modelItem => item3.Amount)
									totalSum += item3.Amount;
								} 
							}
						}		
				@if (item.Key == 0) //se for categoria apresenta no fim do for each o valor do sum final
						{
							@Html.DisplayTextFor(m => sum)
							totalSum += sum;
						}
					</td>

				}
				<td> @Html.DisplayTextFor(m => totalSum) </td>
			</tr>
		}
	
	</tbody>
	<tfoot>
		<tr>
			<th>Total</th>
			@{
				double allYearSum = 0;
			}
			@foreach (var item in Model.months)
			{
				<th>
					@foreach (var item2 in Model.total)
					{
						@if (int.Parse(item2.Key) == item.Key)
						{
							@Html.DisplayFor(modelItem => item2.Value)
							allYearSum += item2.Value;
						}
					}	
				</th>
			}
			<th> @Html.DisplayTextFor(m => allYearSum) </th>
		</tr>

	</tfoot>
</table>

<a asp-page="./CompleteReport" asp-route-CurrentYear="@Model.PrevYear">Previous Year</a>
<a asp-page="./CompleteReport" asp-route-CurrentYear="@Model.NextYear">Next Year</a>
